<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA25M-BlELnUlIJE_L6FTBEnzAcGG_O3zs</string>
	<key>GCM_SENDER_ID</key>
	<string>93823949501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.benitecug.test.flutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-test-fedc0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test-fedc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93823949501:ios:22f9bc8d43ff92cf84b5d4</string>
</dict>
</plist>